<h1> Ansicht aller Impfungen</h1>

<div class="container">
  <div class="row">
  <a *ngFor="let vaccination of vaccinations"
    class="app-vaccination-list-item"
    [vaccination]="vaccination" [routerLink]="vaccination.key">
  </a>
  </div>
</div>

<footer class="flex-col">
  <div class="social-links-container bg-light">
    <div class="wrapper flex-col center">
      <div class="copyright-container">
        <p> Copyright &copy; 2021. Lisa Millinger. KWM.</p>
      </div>
    </div>
  </div>
</footer>