<div class="list-group" *ngFor="let person of people">
  <span *ngIf="person.isRegistred == true">
  <div class="list-group-item list-group-item-action flex-column align-items-start app-vaccination-list-item">
    <h5 class="mb-1">{{ person.lastName }}, {{ person.firstName }} ({{person.sv_number}}) </h5>

    <div class="description"> {{ person.birthday | date: 'longDate' }} </div>

    Angemeldet zur Impfung BLABLABLA HIER FEHLT NOCH WAS |

    Impfung erhalten
    <span *ngIf="person.isVaccinated == false">
       <input type="checkbox" [value]="person.sv_number" (change)="changeStatus(person.sv_number)" />
  
    </span>
  <span *ngIf="person.isVaccinated == true">
       <input type="checkbox" [value]="person.sv_number" (change)="changeStatus(person.sv_number)" checked/>
    </span>
</div>
</span>
</div>

<footer class="flex-col">
  <div class="social-links-container bg-light">
    <div class="wrapper flex-col center">
      <div class="copyright-container">
        <p> Copyright &copy; 2021. Lisa Millinger. KWM.</p>
      </div>
    </div>

  </div>
</footer>