<h1>Formular zum Anlegen von Impfungen </h1>
<form [formGroup]="vaccinationForm" (ngSubmit)="submitForm()">

  <input type="hidden" name="id">

  <div class="form-group">
    <label for="key">Abkürzung</label>
    <input formControlName="key" class="form-control" >
    <small *ngIf="errors.key" class="form-text text-muted">{{errors.key}}</small>
  </div>

  <div class="form-group">
    <label for="date">Datum</label>
    <input formControlName="date" class="form-control" type="date">
    <small *ngIf="errors.date" class="form-text text-muted">{{errors.date}}</small>
  </div>

  <div class="form-group">
    <label for="information">zusätzliche Informationen</label>
    <textarea formControlName="information" class="form-control" ></textarea>
  </div>

  <div class="form-group">
    <label for="key">Maximale Teilnehmer*innen</label>
    <input formControlName="max_registrations" class="form-control" type="number">
    <small *ngIf="errors.max_registrations" class="form-text text-muted">{{errors.max_registrations}}</small>
  </div>

  <div class="form-group">
    <label for="isFull" label class="form-check-label">Bereits ausgebucht</label>
    <input formControlName="isFull" class="form-check-input" type="checkbox" >
  </div>

  <div class="form-group">
    <h3>Ort</h3>

    <div formArrayName="locations">
      <div class="fields" *ngFor="let control of locations?.controls; index as
i; last as l" [formGroupName]="i">

        <input type="hidden" name="id">


        <div class="form-group">
          <label for="address" label class="form-check-label">Adresse</label>
          <input formControlName="address" class="form-control">
        </div>

        <div class="form-group">
          <label for="post_code" label class="form-check-label">Postleitzahl</label>
          <input formControlName="post_code" class="form-control">
        </div>


        <div class="form-group">
          <label for="city" label class="form-check-label">Stadt</label>
          <input formControlName="city" class="form-control">
        </div>

      </div>
      <small *ngIf="errors.locations" class="form-text text-muted">{{ errors.locations
      }} </small>
    </div>
  </div>


  <button type="submit" class="btn btn-info"
[disabled]="vaccinationForm.invalid">Speichern</button>


</form>

<footer class="flex-col">
  <div class="social-links-container bg-light">
    <div class="wrapper flex-col center">
      <div class="copyright-container">
        <p> Copyright &copy; 2021. Lisa Millinger. KWM.</p>
      </div>
    </div>
  </div>
</footer>