<div *ngIf="!isLoggedIn()">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()">

    <div class="form-group">
      <label>E-Mail</label>
      <input type="email" id="username" formControlName="username" class="form-control">
      <div *ngIf="loginForm.get('username').invalid &&
(loginForm.get('username').dirty ||
loginForm.get('username').touched) &&
loginForm.get('username').hasError('required')" class="ui negative
message">
        Benutzername ist verpflichtend </div>
      <div *ngIf="loginForm.get('username').invalid &&
(loginForm.get('username').dirty ||
loginForm.get('username').touched) &&
loginForm.get('username').hasError('email')" class="ui negative
message">
        E-Mail Format überprüfen </div>
    </div>

    <div class="form-group">
      <label>Passwort</label>
      <input type="password" formControlName="password" class="form-control">
      <div *ngIf="loginForm.get('password').invalid &&
(loginForm.get('password').dirty ||
loginForm.get('password').touched)" class="ui negative message">
        Passwort ist verpflichtend </div>
    </div>


    <button type="submit" class="btn btn-info"
[disabled]="loginForm.invalid">Login</button>
  </form>
</div>

<div *ngIf="isLoggedIn()">
  <button type="button" class="btn btn-info"
(click)="logout()">Logout</button>
</div>

<footer class="flex-col">
  <div class="social-links-container bg-light">
    <div class="wrapper flex-col center">
      <div class="copyright-container">
        <p> Copyright &copy; 2021. Lisa Millinger. KWM.</p>
      </div>
    </div>
  </div>
</footer>