<ul class="nav nav-pills">
  <li class="nav-item">
    <a routerLink="home" routerLinkActive="active" class="nav-link">Home</a>
  </li>
  <li class="nav-item">
    <a routerLink="vaccinations" routerLinkActive="active" class="nav-link">Impfungen</a>
  </li>
  <li class="nav-item">
    <a *ngIf="isLoggedIn()" routerLink="profil" routerLinkActive="active" class="nav-link">Profil</a>
  </li>

  <li class="nav-item">
    <a *ngIf="isAdmin()" routerLink="admin" routerLinkActive="active" class="nav-link">Administration</a>
  </li>
  <li class="nav-item">
    <a *ngIf="isAdmin()" routerLink="registrations" routerLinkActive="active" class="nav-link">Aktuelle
      Registrierungen</a>
  </li>
  <li class="nav-item">
    <a routerLink="login" routerLinkActive="active" class="nav-link">{{getLoginLabel()}}</a>
  </li>
</ul>

<router-outlet></router-outlet>