<h1 class="ui header">{{ vaccination.key }}</h1>
<h3 class="ui header">{{ vaccination.information }}</h3>
<div class="ui grid" *ngIf="vaccination">

  <div class="twelve wide column">

    <div class="ui divider"></div>
    <div class="ui grid">
      <div class="four wide column">
        <span *ngFor="let location of vaccination.locations;">
          {{ location.address }} {{ location.post_code }} {{location.city}}
        </span>
      </div>
      <div class="four wide column">
        <span *ngFor="let location of vaccination.locations;">
         Anmeldungen: {{ vaccination.current_registrations }}
        </span>
      </div>

    </div>
    <button type="button" [routerLink]="'/vaccinations'" class="btn btn-info">
      Zurück zur Impfübersicht
    </button>
    <button *ngIf="authService.isLoggedIn()" type="button" class="btn btn-danger"
      (click)="removeVaccination()">
      Impfung löschen
</button>
    <button *ngIf="authService.isLoggedIn()" type="button" class="btn btn-primary"
      [routerLink]="['../../admin', vaccination?.key]">
      Impfung bearbeiten
</button>


  </div>
</div>