<h1>Impfung {{ vaccination.key }}</h1>
<h3>{{ vaccination.information }}</h3>

<div class="buttons">
  <button type="button" [routerLink]="'/vaccinations'" class="btn btn-info">
      Zurück zur Impfübersicht
    </button>

  <button *ngIf="authService.isLoggedIn() && vaccination.isFull != true" type="button" class="btn btn-info" [value]="vaccination.key" (click)="register(vaccination.key)">
      Für Impfung anmelden
    </button>
  <button *ngIf="authService.isLoggedIn()" type="button" class="btn btn-danger"
      (click)="removeVaccination()">
      Impfung löschen
</button>
  <button *ngIf="authService.isLoggedIn()" type="button" class="btn btn-primary"
      [routerLink]="['../../admin', vaccination?.key]">
      Impfung bearbeiten
</button>
</div>

<div class="ui grid" *ngIf="vaccination">

  <div class="twelve wide column">

    <hr>

    <div class="containter">

      <div class="row">
        <div class="col-sm">
          <h3>Ort</h3>
          <span *ngFor="let location of vaccination.locations;">
          {{ location.address }},  <br>
          {{ location.post_code }} {{location.city}}
        </span>
        </div>

        <div class="col-sm">
          <h3>Datum</h3>
          <span *ngFor="let location of vaccination.locations;">
          {{ vaccination.date | date: 'longDate' }}
        </span>
        </div>

        <div class="col-sm">
          <h3>Anmeldungen</h3>
          <span *ngFor="let location of vaccination.locations;">
         Aktutell angemeldete Personen: {{ countPeople() }}
        </span>
          <span *ngIf="vaccination.isFull != true">
          <div class="alert alert-warning" role="alert">
            Noch {{ vaccination.current_registrations - countPeople() }} freie Plätze
          </div>
          </span>
            <span *ngIf="vaccination.isFull == true">
          <div class="alert alert-danger" role="alert">
            Keine Anmeldung mehr möglich
          </div>
          </span>
        </div>


        <div *ngIf="authService.isLoggedIn()" class="col-sm">
          <h3>Angemeldete Personen</h3>
          <span *ngFor="let people of vaccination.people;">
           
         {{ people.firstName }} {{ people.lastName}} |  
         <span *ngIf="people.isVaccinated != true"> noch nicht geimpft </span>
        <span *ngIf="people.isVaccinated == true"> geimpft </span>
         <br>

          </span>
        </div>
      </div>
    </div>
  </div>


  <footer class="flex-col">
    <div class="social-links-container bg-light">
      <div class="wrapper flex-col center">
        <div class="copyright-container">
          <p> Copyright &copy; 2021. Lisa Millinger. KWM.</p>
        </div>
      </div>
    </div>
  </footer>